
.default,
ft-default #text-container {
	top: 0;
	left: 0;
	transform: translateZ(0);
	position: absolute;
}

@font-face {
    font-family: 'Graphik App';
    src: url('../fonts/subset-GraphikApp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik App';
    src: url('../fonts/subset-GraphikApp-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik App';
    src: url('../fonts/subset-GraphikApp-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	background: #fafafa;
	color: #fff;
}

#border {
	height: 600px;
	width: 300px;
	border:1px solid #000;
	box-sizing: border-box;
	position: absolute;
}

ft-default {
	height: 600px;
	width: 300px;
	background: #14AA40;
	overflow: hidden;
	opacity: 0;
}

ft-default #button-exit {
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
	height: 100%;
	width: 100%;
}

ft-default #footer {
	background-color: #fff;
	height: 115px;
	width: 300px;
	bottom: 0;
	position: absolute;
}

ft-default #footer #logo {
	position: absolute;
	height: 75px;
	width: 75px;
	bottom: 20px;
	left: 20px;
}

ft-default #footer #cta {
	position: absolute;
	width: 153px;
	height: 35px;
	bottom: 40px;
	right: 20px;
	background-color: #f5cc02;
}

ft-default #footer #cta ft-dynamic[name=dynamicCTA] {
	width: 153px;
	height: 35px;
	top: 50%;
	transform: translate(0, -50%);
	position: absolute;

	text-align: center;
	color: #000;
	font-family: 'Graphik App';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
	font-style: normal;
	font-kerning: auto;
	-webkit-font-kerning: auto;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
	line-height: 35px;	
}

ft-default #text-container {
	width: 300px;
	height: 485px;
}

ft-default #text-container ft-dynamic[name=dynamicText] {
	margin-left: 20px;
	margin-right: 10px;
	top: 50%;
	transform: translate(0, -50%);
	color: #fff;
	position: absolute;

	font-family: 'Graphik App';
	font-weight: bold;
	font-style: normal;
	font-size: 51px;
	line-height: 1.01em;
	letter-spacing: -.02em;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
	
}

ft-default #legal-container {
	width: 300px;
	height: 50px;
}

ft-default #legal-container ft-dynamic[name=dynamicLegal] {
	margin-left: 20px;
	margin-right: 10px;
	bottom: 125px;
	color: rgba(255, 255, 255, .9);
	position: absolute;

	font-family: 'Graphik App';
	font-weight: normal;
	font-style: normal;
	font-size: 9px;
	line-height: 1em;
	letter-spacing: -.02em;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
	
}



