/*#border,
ft-default {
	height: 250px;
	width: 300px;
}*/

.default,
ft-default #text-container {
	top: 0;
	left: 0;
	position: absolute;
}

@font-face {
    font-family: 'Graphik App';
    src: url('../fonts/subset-GraphikApp-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik App';
    src: url('../fonts/subset-GraphikApp-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
	background: #fafafa;
	color: #fff;
}

/*#border {
	height: 250px;
	width: 300px;
	display: block;
	pointer-events: none;
	outline: #000 solid 1px;
	outline-offset: -1px;
	z-index: 999;
	position: absolute;
}*/

ft-default {
	height: 250px;
	width: 300px;
	background: #14AA40;
	overflow: hidden;
	opacity: 0;
}

ft-default #button-exit {
	background-color: rgba(255, 255, 255, 0);
	cursor: pointer;
	height: 100%;
	width: 100%;
}

ft-default #footer {
	background-color: #fff;
	height: 80px;
	width: 100%;
	bottom: 0;
	position: absolute;
}

ft-default #footer #logo {
	position: absolute;
	width: 60px;
	bottom: 10px;
	left: 20px;
}

ft-default #footer #cta {
	position: absolute;
	width: 120px;
	height: 32px;
	bottom: 24px;
	right: 20px;
	background-color: #f5cc02;
}

ft-default #footer #cta ft-dynamic[name=dynamicCTA] {
	width: 120px;
	height: 32px;
	top: 50%;
	transform: translate(0, -50%);
	position: absolute;

	text-align: center;
	color: #262626;
	font-family: 'Graphik App';
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
	font-kerning: auto;
	-webkit-font-kerning: auto;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
	line-height: 32px;	
}

ft-default #text-container {
	width: 100%;
	height: 170px
}

ft-default #text-container ft-dynamic[name=dynamicText] {
	margin-left: 20px;
	margin-right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	color: #fff;
	position: absolute;

	font-family: 'Graphik App';
	font-weight: bold;
	font-style: normal;
	font-size: 31px;
	line-height: 1em;
	letter-spacing: -.02em;
	-webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
	-moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */
	
}



